.progress {
    background: lightgray;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 0px;
    display: flex;
    height: 30px;
    width: 50vw;
    margin-right: 5vh;
}


.progressValue {
    animation-name: load1;
    animation-duration: 3s normal forwards;
    border-radius: 100px;
    background: #ffc278;
    height: 30px;
    width: 0;
    
  }
  
  @keyframes load1 {
    0% { width: 0; }
    100% { width: 96%; }
  }