

@font-face {
  font-family: roboto;
  src: url('./font/Roboto-Light.ttf');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto;
    
  }
body{
  overflow-x: hidden;
  background: #1b1919;
}

::-webkit-scrollbar{
  width: 1vh;
  height: 1vh;
}

::-webkit-scrollbar-track{
  background-color: #fff;
  opacity: 0.9;
}


::-webkit-scrollbar-thumb{
  background-color: #2be793;

}

::-webkit-scrollbar-thumb:hover{
  background-color: #27ba78;
}


@media screen and (max-width:468px){
  body{
    overflow-x: hidden;
  }
}
 
/* .img {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
} */
  
.image-wrapper-2{
  border-radius: 32px;
}

.teamImg{
  will-change: transform;
  transform:  translate3d(0px, 0px, 0px) scale3d(0.97, 0.97, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.teamImg:hover{
    will-change: transform;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}